/* ********* commons ********* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* ********* header ********* */

.row {
    width: 100%;
    margin-bottom: 30px;
}

.header-bar {
    width: 100%;
    position: fixed;
    height: 70px;
    line-height: 30px;
    padding: 20px;
    padding-bottom: 10px;
    background-color: white;
}

.col-right {
    margin-left: 5px;
    float: right;
}

.col-left {
    margin-right: 5px;
    float: left;
}

/* ********* heder bar  ********* */

.header-bar .col-left, .header-bar .col-right {
    width: 48%;
}

.header-bar .col-right nav li, .header-bar .col-left nav li{
    display: inline-block;
}

.header-bar .col-left nav li {
    margin-right: 30px;
}

.header-bar .col-right nav li {
    margin-left: 30px;

}
.header-bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.col-left .logo, .col-left nav {
    margin-right: 50px;
    float: left;
}
.col-right .btn, .col-right nav {
    margin-left: 50px;
    float: right;    
}

.header-bar .row .btn {
    background-color: rgb(0, 97, 255);
    width: 60px;
    text-align: center;
}
.btn a {
    color: white;
}

/* ********* jumbotron ********* */
#jumbotron {
    padding-top: 150px;
    height: 850px;
    background-color: rgb(180, 208, 231);
}

.jumbo-container{
    margin-top: 200px;
    width: 80%;
    margin: auto;
}

/* ********* jumbotron .col-left ********* */
.jumbo-container .row h1 {
    margin-bottom: 50px;
    font-size: 65px;
    font-weight: 90px;
}
.jumbo-container .col-left {
    width: 31%;
    padding-right: 60px;
}

.jumbo-container .col-left p {
    font-size: 15px;
    font-weight: bold;
}

.jumbo-container .col-left nav li {
    list-style: none;
    margin-top: 20px;
}

.jumbo-container .col-left .btn {
    background-color: rgb(0, 97, 255);
    text-align: center;
    padding: 5px 10px;
}
.jumbo-container .col-left .btn  {
    color: white;
    font-weight: bold;

}
.jumbo-container .col-left  a {
    color: black;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.jumbo-container .col-left .arrow {
    font-size: 40px;

}

/* ********* jumbotron .col-right ********* */

.jumbo-container .col-right {
    width: 68%;
}
.jumbo-container .col-right img {
    width: 100%;

}
/* ********* main ********* */

.main-container {
    width: 70%;
    margin: auto;
}

.sezione {
    width: 100%;
    margin-top: 200px;
}

#sezione-1 h2{
    font-size: 40px;
}

#sezione-1 .first-row-box {
    text-align: center;
    border: 1px solid grey;
    padding: 10px 0px;

}


/* ********* footer ********* */


/* ********* debug ********* */

/* .debug .row {
    background-color: blue;
}

.debug .header-bar .col-left, .debug .header-bar .col-right {
    display: inline-block; 
    height: 100px;
    background-color: crimson;
}


.debug .jumbo-container {
    background-color: grey;
}

.debug .jumbo-container .row{
    height: 200px;
}

.debug .jumbo-container .col-left, .debug .jumbo-container .col-right  {
    width: 48%;
    height: 600px;
    background-color: crimson;
} */




.debug .sezione {
    height: 500px;
    background-color: blue;
    margin-bottom: 600px;
}

.debug #sezione-1 .row  h2{
    background-color: red;
    font-size: 40px;
}

.debug #sezione-1 .box{
    width: calc(100% / 3 - 10px);
    background-color: red;
    /* height: 100px; */
    margin-left: 5px;
}