/* ********* commons ********* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: black */
}

body {
    font-family: 'Open Sans', sans-serif;
    /* color: black; */

}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* ********* header ********* */
 /* .header-bar {
     position: relative;
 } */
.row-header {
    width: 100%;

}

.header-bar {
    width: 100%;
    position: fixed;
    height: 70px;
    line-height: 30px;
    padding: 20px;
    padding-bottom: 10px;
    background-color: white;
    /* margin-bottom: 100px; */
}

.row-header-right {
    margin-left: 5px;
    float: right;
}

.row-header-left {
    margin-right: 5px;
    float: left;

}

/* ********* heder bar  ********* */


.header-bar .row-header-left, .header-bar .row-header-right {
    width: 48%;

}

.header-bar .row-header-right nav li, .header-bar .row-header-left nav li{
    display: inline-block;
}
.header-bar .row-header-left nav li {
    margin-right: 30px;
}
.header-bar .row-header-right nav li {
    margin-left: 30px;

}
.header-bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.row-header-left .logo, .row-header-left nav {
    margin-right: 50px;
    float: left;
}
.row-header-right .btn, .row-header-right nav {
    margin-left: 50px;
    float: right;    
}

.header-bar .row-header .btn {
    background-color: rgb(0, 97, 255);
    width: 60px;
    text-align: center;
}
.btn a {
    color: white;
}

/* ********* jumbotron ********* */
#jumbotron {
    padding-top: 150px;
    height: 850px;
    background-color: rgb(180, 208, 231);
}

.jumbo-container{
    margin-top: 200px;
    width: 80%;
    margin: auto;
}

/* ********* jumbotron .row-header-left ********* */
.jumbo-container .row-header h1 {
    margin-bottom: 50px;
    font-size: 65px;
    font-weight: 90px;
}
.jumbo-container .row-header-left {
    width: 31%;
    padding-right: 60px;
}

.jumbo-container .row-header-left p {
    font-size: 15px;
    font-weight: bold;
}

.jumbo-container .row-header-left nav li {
    list-style: none;
    margin-top: 20px;
}

.jumbo-container .row-header-left .btn {
    background-color: rgb(0, 97, 255);
    text-align: center;
    padding: 5px 10px;
}
.jumbo-container .row-header-left .btn  {
    color: white;
    font-weight: bold;

}
.jumbo-container .row-header-left  a {
    color: black;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.jumbo-container .row-header-left .arrow {
    font-size: 40px;

}

/* ********* jumbotron .row-header-right ********* */

.jumbo-container .row-header-right {
    width: 68%;
}
.jumbo-container .row-header-right img {
    width: 100%;

}
/* ********* main ********* */


/* ********* footer ********* */


/* ********* debug ********* */

.debug .row-header {
    /* background-color: blue; */

}

.debug .header-bar .row-header-left, .debug .header-bar .row-header-right {
    /* display: inline-block; */
    /* height: 100px; */
    /* background-color: crimson; */
}


.debug .jumbo-container {
    /* background-color: grey; */
}

.debug .jumbo-container .row-header{
    /* height: 200px; */
}

.debug .jumbo-container .row-header-left, .debug .jumbo-container .row-header-right  {
    /* width: 48%; */
    /* height: 600px; */
    /* background-color: crimson; */

}